# Dependency directory
node_modules

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
*.lcov

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# Report output produced by local runs of the action
/depsherpa-report/

# OS metadata
.DS_Store
Thumbs.db

# IDE files
.idea
*.code-workspace
